<header class="header">
  <div class="inner">
    <div class="nav">
      <div class="nav__left">
      <%= link_to image_tag("receitap_icon.png", class: :logo) %>
      </div>
    </div>
  </div>
</header>