* {
  box-sizing: border-box;
}
html,
body,
ul,
li,
h1,
h2,
h3,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
  font-family: Istok Web;
  color: rgba(69,69,69,1);
  font-weight: Regular;
}

a {
  text-decoration: none;
  color: rgb(30, 30, 30);
}

h1{
  text-align: center;
  color: #333;
}

h2 {
  width: 400px;
  position: absolute;
  /* margin: 150px, 0, 555px, ; */
  top: 150px;
  left: 555px;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}

ul {
  list-style:none;
}



/* フォームまわり */
.form__wrapper{
  min-height: calc(100vh - 161px);
}

.form__text {
  width: 50%;
}

.field{
  top: 150px;
  left: 555px;
  margin: 10px 0;
  
}

.actions{
  margin-bottom: 40px;
}

.form__btn {
  display: inline-block;
  padding: 0.5em 1.1em;
  width: 102px;
  height: 41px;
  border: 1px rgba(40,90,200,1) solid;
  position: absolute;
  top: 50%;
  left: 669px;
  font-size: 16px;
  color: rgba(40,90,200,1);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  text-decoration: none;
}

.form__btn:hover{
  color: #fff;
  background: #87CEFA;
}

.name_box {
  width: 153px;
  height: 22px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 222px;
  left: 667px;
  border: 0.5px solid rgba(69,69,69,1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.name_line {
  width: 32px;
  position: absolute;
  top: 222px;
  left: 618px;
  opacity: 1;
  text-align: left;
}
.password_line {
  width: 80px;
  position: absolute;
  top: 271px;
  left: 570px;
  opacity: 1;
  text-align: right;
}
.password_box {
  width: 153px;
  height: 22px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 271px;
  left: 667px;
  border: 0.5px solid rgba(69,69,69,1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.password_reset {
  width: 255px;
  color: rgba(69,69,69,1);
  position: absolute;
  top: 500px;
  left: 592px;
  opacity: 1;
  text-align: left;
}
.newuser {
  width: 120px;
  color: rgba(40,90,200,1);
  position: absolute;
  top: 450px;
  left: 660px;
  opacity: 1;
  text-align: left;
}
.newuser:hover {
  color: #87CEFA;
}

/* 新規投稿 */

.receipt-main {
  width: 70vw;
  min-width: 450px;
  padding: 10vh 15vw;
}

.receipt-title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}


.indispensable {
  margin-left: 8px;
  padding: 3px;
  color: rgb(195, 103, 103);
  font-size: 12px;
}

.weight-text {
  min-width: 170px;
  margin-bottom: 10px;
}
/* 商品画像 */
.img-upload {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2vh 0;
}

.click-upload {
  margin: 15px 0;
  min-width: 250px;
}

.click-upload>p {
  margin-bottom: 15px;
}

/* /商品画像 */
/* 商品名と商品説明 */
.new-items {
  padding: 2vh 0;
}

.items-text {
  width: 100%;
  padding: 16px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.items-explain {
  margin-top: 2vh;
}

/* /商品名と商品説明 */

/* 商品の詳細など */
.items-detail {
  display: flex;
  justify-content: space-between;
  padding: 2vh 0;
}

.items-detail>.form {
  width: 300px;
  padding: 2vh 0;
}

.select-box {
  margin: 1vh 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* /商品の詳細など */

/* フッター */
.footer {
  padding: 20px 0;
}
.copyright {
  text-align: center;
  color: orange;
  font-size: 10px;
}