* {
  box-sizing: border-box;
}
html,
body,
ul,
li,
h1,
h2,
h3,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
  font-family: Istok Web;
  color: #454545;
  font-weight: Regular;
}

a {
  text-decoration: none;
  color: #1e1e1e;
}

h1{
  text-align: center;
  color: #333;
}

h2 {
  width: 400px;
  position: absolute;
  top: 150px;
  left: 555px;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}

ul {
  list-style:none;
}



/* フォームまわり */
.form__wrapper{
  min-height: calc(100vh - 161px);
}

.form__text {
  width: 50%;
}

.field{
  top: 150px;
  left: 555px;
  margin: 10px 0;
  
}

.actions{
  margin-bottom: 40px;
}


/* 新規投稿 */

.receipt-main {
  width: 70vw;
  min-width: 450px;
  padding: 10vh 15vw;
}

.receipt-title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}


.indispensable {
  margin-left: 8px;
  padding: 3px;
  color: indianred;
  font-size: 12px;
}

.weight-text {
  min-width: 170px;
  margin-bottom: 10px;
}
/* 商品画像 */
.img-upload {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2vh 0;
}

.click-upload {
  margin: 15px 0;
  min-width: 250px;
}

.click-upload>p {
  margin-bottom: 15px;
}

/* /商品画像 */
/* 商品名と商品説明 */
.new-items {
  padding: 2vh 0;
}

.items-text {
  width: 100%;
  padding: 16px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.items-explain {
  margin-top: 2vh;
}

/* /商品名と商品説明 */

/* 商品の詳細など */
.items-detail {
  display: flex;
  justify-content: space-between;
  padding: 2vh 0;
}

.items-detail>.form {
  width: 300px;
  padding: 2vh 0;
}

.select-box {
  margin: 1vh 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* /商品の詳細など */

/* フッター */
.footer {
  padding: 20px 0;
}
.copyright {
  text-align: center;
  color: orange;
  font-size: 10px;
}