
<body>

<div class="v1_2">
<div class="back_color">
</div>
<div class="v17_2"></div>

<span class="top_line">領収書の管理を管単に！</span>

<div class="name_box"></div>
<span class="name_line">名前</span>
<span class="password_line">パスワード</span>
<div class="password_box"></div>
<div class="login_box"></div>
<span class="login_line">ログイン</span>
<span class="password_reset">パスワードを再設定する場合はこちら</span>
<span class="newuser">新規登録はこちら</span>
</div>
</div>
</body>
</html>