<%# <%= render "shared/header" %> 

<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2>領収書の管理を管単に！<br>楽々  領収書の画像を保存するだけ！</h2>
      <%= link_to "ログイン", new_user_session_path, class: :form__btn %>
      <%= link_to "新規登録はこちら", new_user_registration_path, class: :newuser %>
        <%# <div class="newuser">新規登録はこちら</div> %>
        <div class="password_reset">パスワードを再設定する場合はこちら</div>
        
      </div>
    </div>
  </div>
</div>


  

  

    

